{% extends "base.html" %}

{% block content %}
	<!--<div class="jumbotron">
		<div class="container">
			<h1>Account</h1>
			<p>Manage tables and get URLs</p>
		</div>
	</div>-->

	<div class="container">
		<div class="row">
			<div class="col-mid-12">
				<h2>Показания</h2>
				<table class="table table-stripped">
					<tr>
						<!--<th>No.</th>-->
						<th>Дата и время</th>
						<th>Верхнее/SYS.(mmHg)</th>
                        <th>Нижнее/DIA.(mmHg)</th>
                        <th>Пульс/PUL.(/min)</th>
					</tr>
                    {% for mea in measurements %}
                        <form class="form-inline" action="/account/delete_measurement">
                            <tr>
                                <!--<td>{{ mea._id }}</td>-->a
                                <td>{{ mea.date_time }}</td>
                                <td>{{ mea.sys_mmhg }}</td>
                                <td>{{ mea.dia_mmhg }}</td>
                                <td>{{ mea.pul }}</td>
                                <td><input type="submit" value="Delete" class="form-control"></td>
                                <input type="text" name="measurement_id" value="{{mea._id}}" hidden>
                            </tr>
                        </form>
                    {% endfor %}
				</table>
				<h2>Добавить показание</h2>
				<form class="form-inline" action="/account/add_measurement" method="POST">
					<div class="form-group">
						{{ createMeasurementForm.csrf_token }}
						{{ createMeasurementForm.sys_mmhg(class="form-control", placeholder="Верхнее значение") }}
                        {{ createMeasurementForm.dia_mmhg(class="form-control", placeholder="Нижнее значение") }}
                        {{ createMeasurementForm.pul(class="form-control", placeholder="Пульс") }}
						{{ createMeasurementForm.submit(value="Create", class="btn btn-primary") }}
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}